footer {
  position: relative;
  background-color: rgb(95, 91, 91);
  height: 2.5rem;
  width: 100%;
  padding-bottom: 2.5rem;
  color: white;
  font-family: cursive;
  margin-top: -32767px;
  opacity: 0.50;
  text-align: center;
  margin: 2px
}